//
   Created by sirmention on 3/22/2015.
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
if !! clientSideLogging
   script.
        window.bilCSL =  !{clientSideLogging}

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/debug.js")
script(type="text/javascript", src="/app/account/user.js")
script(type="text/javascript", src="/app/account/auth.js")
script(type="text/javascript", src="/app/account/login.js")
script(type="text/javascript", src="/app/account/signup.js")
script(type="text/javascript", src="/app/common/mspa-location.js")
script(type="text/javascript", src="/app/common/header.js")
script(type="text/javascript", src="/app/home/home.js")
script(type="text/javascript", src="/app/common/alerts.js")
script(type="text/javascript", src="/app/common/identify.js")

