@import vars

body{
  background-color:$color-light-one;
}
 h1{
   font-size: 25px;
 }
h2{
  font-size: 15px;
 }

.appcontent{
 .content{
   margin: 165px auto 10px;
   width: 85%;
   padding: 0 20px;
 }
.navbar.navbar-main{
  background-color:$color-two;
  .navbar-header{
  &.big-header{
    width:100%;
    padding:30px 15px 0;
    min-width :365px;
  }
  .logo-title{
    display:inline-block;
    padding: 0 10px;
    font-size:30px
    text-decoration: none;
    color:$color-three;
    .logo-subtitle{
      font-size:12px;
    }
  }

  .menu-button{
    float:left;
  }
}
}

  div.info{
    color:red;
    font-size:10px;
  }
  .login-btn{
    margin-top: 10px;
  }
  .navbar-form{
    .form-group,button {
      margin-left: 5px;

    }
  }

    .toast-success {
      background-color: #3c763d
    }
      .toast-top-right{
        top 70px
        right 50px
      }
}
//media queries
$bootstrapXsmall = 768px;
$bootstrapMedium = 992px;
$bootstrapLarge = 1200px;
@media (max-width: $bootstrapXsmall) {
  //main menu
  #main-menu{
    position: absolute;
    top: 50px;
  }
}
@media (min-width: $bootstrapXsmall) {

}
@media (min-width: $bootstrapMedium) {

}
@media (min-width: $bootstrapLarge) {

}

