@import vars


body{
  background-color:$color-light-one;
  background-image:url(http://static2.grsites.com/archive/textures/misc/misc280.jpg);

}
  .padding-medium{
    padding: 35px;
  }
  .focus{
    font-weight: bold;
    font-family: cursive;
    .creditor-title{
      font-weight: bold;
      font-family: cursive;
    }
  }
 h1{
   font-size: 25px;
 }
h2{
  font-size: 15px;
 }
  a{//some a tags are using directives which sometimes don't render href visible to browser hence pointer is not shown...force it to show aon all a tag...except anchors
    cursor :pointer;
  }
form{
  &.ng-submitted{
    input{
      &.ng-invalid-required,&.ng-invalid-email{
        background-color:$color-error-back;
        +span{
          //color:$color-error;
          //display:block;
        }
      }
    }
  }
  input{
    &.ng-dirty.ng-invalid-required,&.ng-invalid-email{
      background-color:$color-error-back;
      +span{
        //color:$color-error;
        //display:block;
      }
    }
  }
  span{
    //display:none;
    color:$color-error;
  }
}

.main-menu-bar{
  border-color:$color-one;
  background-color:($color-one + 150);
  ul.nav{
    > li{
      > a{
        color:$color-one;
        font-weight:bold;
        text-transform:uppercase;
      }

    }
  }

}
  //bootstrap global overrides - don't want to change the less, only making minor changes.
.ng-cloak {
  display: none !important;
}
.well{
  border-color:$color-one;
}
.btn-default {
  color: #FFF;
  background-color: #C5C0C0;
  border-color: #838181;
}
.btn-nopadding{
  padding:0 15px;
}
  //end bootstrap

.appcontent{
 .content{
   margin: 165px auto 10px;
   width: 85%;
   padding: 0 34px 40px;
   background-color:$color-two;
 }
.navbar.navbar-main{
  background-color:$color-two;
  .navbar-header{
  &.big-header{
    width:100%;
    padding:30px 15px 0;
    min-width :365px;
  }
  .logo-title{
    display:inline-block;
    padding: 0 10px;
    font-size:30px
    text-decoration: none;
    color:$color-three;
    .logo-subtitle{
      font-size:12px;
    }
  }

  .menu-button{
    float:left;
  }
}
}

  div.info{
    color:red;
    font-size:10px;
  }
  .login-btn{
    margin-top: 10px;
  }
  .navbar-form{
    .form-group,button {
      margin-left: 5px;

    }
  }

    .toast-success {
      background-color: #3c763d
    }
      .toast-top-right{
        top 70px
        right 50px
      }
}
//media queries

@media (max-width: $bootstrapXsmall) {
  //main menu
.main-menu-bar{
  button.menu-button{
    border: 0;
    background:none;
    &:hover{
      background:none;
      color:$color-light;
    }
  }
  #main-menu{
    position: absolute;
    top: 50px;
    background-color:$color-two;
    border-radius:5px;
    border:1px solid $color-one;
    > ul > li:active{
      background-color:$color-one;
      color:$color-light;
      a{
        color:$color-light;
      }
    }
  }
}

  .appcontent{
    .content{
      width:100%;
    }
  }
}
@import "tools/spinner"
@media (min-width: $bootstrapXsmall) {

}
@media (min-width: $bootstrapMedium) {

}
@media (min-width: $bootstrapLarge) {

}

