extends shared/layout

block main-content
    section.content
        div(ng-view)
        div.hero-text.well
            if model
                b=model.heroTextTop
                div=model.heroTextBottom