extends ../shared/layout

block main-content
    section.content(ng-controller="bilHomeCtrl")
        div(ui-view)
        div.hero-text.well(ng-hide="identity.isAuthenticated()")
            if model
                b=model.heroTextTop
                div=model.heroTextBottom