//Created by Clint Small Cain on 3/29/2015.

extends ../shared/layout
block main-content
    section.content.well(ng-controller="bilSignupCtrl",ng-hide="identity.isAuthenticated()")
        h1 Sign Up
        h2 Create an account

        div
            form.form-group(name="bilSignupFom",novalidate="false")
                .form-group
                    label Email
                    input.form-control(placeholder="Email", ng-model="userEmail",name="userEmail",required="true",type="email")
                .form-group
                    label Username
                    input.form-control(placeholder="Username", ng-model="userName",name="userName",required="true")
                .form-group
                    label Password
                    input.form-control(type="password",placeholder="password", ng-model="userPassword",name="userPassword",required="true")
                button.btn.btn-primary(ng-click="create(userEmail,userName,userPassword)") Create

