@import "../vars"
.main-menu-bar{
  //display :none;
}
body{
  background: url(/img/hero.jpg);
  background-size: cover;
  .home-hero{
    min-width :265px
    font-size:25px;
    position: relative;
    margin: 10% auto;
    width: 25%;
    padding: 25px;

  }.content{
     text-align:center;
       font-size:15px;
       .hero-text{
         background: $color-one;
         opacity: 0.5;
         margin: 0 auto;
         width: 65%;
         padding: 10px;
         min-width :265px
         b{
           font-size:20px;
           color:$color-light;
         }
       }
   }

}