//Created by Clint Small Cain on 3/22/2015.

.navbar-right(ng-controller="bilLoginCtrl")
    div(ng-show="isLoading",ng-include="'/partials/tools/spinner'")
    form.navbar-form(ng-hide="identity.isAuthenticated() || isLoading",name="bilLoginForm",novalidate="false")
        .form-group
            input.form-control(required="true",placeholder="Username", ng-model="username", name="username",tabindex="1")
            div
                a(href="#",ng-click="singup()") Sign Up
        .form-group
            input.form-control(required="true",type="password",placeholder="Password", ng-model="password",name="password",tabindex="2")
            div
                a(href="/") Forgot?
        .form-group
            button.btn.btn-primary(ng-click="login(this.username,password)") Login
            div &nbsp;
    ul.nav.navbar-nav.nabar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="",data-toggle="dropdown")
                | {{identity.currentUser.userName}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="",ng-click="logout()") Logout